<h5> Welcome to Victual <%= @user.name %> </h5>
<p>
Food type: <%= @user.foodtype %>
Time Constraints: <%= @user.timeStart %> to <%= @user.timeEnd %>
Distance: <%= @user.distance %>
</p>
<p>You will get another email around 10:30 giving you your group members and location </p>
