<h5> Welcome to Victual <%= @user.name %> </h5>
You have signed up for lunch tomorrow.
<p>
Food type: <%= @user.foodtype %>
<br>
Time Constraints: <%= @user.timeStart %> to <%= @user.timeEnd %>
<br>
Distance: <%= @user.distance %>
</p>
<p>You will get another email around 10:30 tomorrow, giving you your group members and location </p>
