<h5> Hello <%= @user.name %> </h5>
<p>
You have updated your settings for Victual.
<br>
<br>
<b> New Settings </b>
<br>
Food type: <%= @user.foodtype %>
<br>
Time Constraints: <%= @user.timeStart %> to <%= @user.timeEnd %>
<br>
Distance: <%= @user.distance %>
</p>
