<script>
	function joinGroup(token, groupid){
		window.location = '/join/?token=' + token + "&group_id=" + groupid
	}
</script>
<a onclick = 'joinGroup("<%= @user.token %>",<%= group.id %>)' class="plain">
<span style = "width: 100px;">
  <% group.users.each do |user| %>
    <%= user.name %>
  <% end %>
</span>
<br>
<span style = "width: 100px;">
  Meets at <%= group.start %>
<br>
  Gets back by <%= group.end %> at the latest
</span>
<br>
<span style = "width: 100px;">
  <% if group.venue %>
    <%= group.venue.name %>
  <% else %>
    Eating here
  <% end %>
</a>
</span>
<br>


