<script>
	function joinGroup(token, groupid){
		window.location = '/join/?token=' + token + "&group_id=" + groupid
	}
</script>

<a onclick = 'joinGroup("<%= @user.token %>",<%= group.id %>)' class="plain">

  <div>
    <% group.users.each do |user| %>
      <%= user.name %>
      <br>
    <% end %>
  </div>

  <div>
    Meeting Time is: <%= group.start %>
    <br>
    Get back by: <%= group.end %> at the latest
  </div>

  <div>
    <% if group.venue %>
     You are going to <%= group.venue.name %>
    <% else %>
     You are eating here
    <% end %>
  </div>

</a>


